body {
  font-family: sans-serif;
  color: red;
}

h1 {
    color:blueviolet;
    transition: color .5s ease-in-out;
}

.clicked {
    color:darkblue
}
.btn{
    cursor: pointer;
}

.form, .greetings {
    display: none;
}

.showing{
    display: block;
}